@page "/poc"
@inherits PocBase
@using MatBlazor
@using EBlocks.NothWindsBlazorApp.Pages.Categories
@using EBlocks.NothWindsBlazorApp.Pages.Orders
@using EBlocks.NothWindsBlazorApp.Pages.Products



<h3>POC Playground</h3>
@*<MatButton TrailingIcon="favorite">Text</MatButton>
<MatButton Raised="true" TrailingIcon="favorite">Raised</MatButton>
<MatButton Unelevated="true" TrailingIcon="favorite">Unelevated</MatButton>
<MatButton Outlined="true" TrailingIcon="favorite">Outlined</MatButton>
<MatButton Dense="true" TrailingIcon="favorite">Dense</MatButton>*@


<CategoryList />

<Orders />

<ListProducts />
