@page "/"
@using MatBlazor
@using EBlocks.NothWindsBlazorApp.Pages.Products;


<div class="row">
    <div class="col-12 center-div">
        <h1>Welcome to Northwinds Super Cars !</h1>
    </div>
    <div class="col-12 center-div">
        <img src="images/Bugatti.PNG" width="75%" />
    </div>
    <div class="col-12 center-div">
        See other code related videos on <a href="https://www.youtube.com/user/hloni2010" target="_blank">My You Tube channel</a> 
        <div class="row">
            <div class="col-4">
                <a href="https://www.youtube.com/watch?v=Qef8gpsutAU&t=1s" target="_blank">
                    <MatIcon>videocam</MatIcon> <b>Memory Game :</b>
                </a>
                <p>Initially conceived for the popular game show <i>Friends Like These</i></p>
            </div>
            <div class="col-4">
                <a href="https://www.youtube.com/watch?v=xEd7o8hSS0k" target="_blank">
                    <MatIcon>videocam</MatIcon> <b>Live Wall :</b>
                </a>
                <p>for all kinds of gallaries</p>

            </div>
            <div class="col-4">
                <a href="https://www.youtube.com/watch?v=ke5zk3_IHcg" target="_blank">
                    <MatIcon>videocam</MatIcon> <b>Personal Assistant :</b>
                </a>
                <p>DIY assistant, initially created to ask a girl out, needless to say I got the girl :)</p>

            </div>
        </div>
    </div>
</div>

<style>
    .div {
        margin: "15px";
        /*border: 1px solid black*/
    }
</style>






