@page "/"
@using EBlocks.NothWindsBlazorApp.Pages.Products;
@using EBlocks.NothWindsBlazorApp.Pages.Orders

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Orders/>

<ListProducts/>
