@page "/"
@using MatBlazor
@using EBlocks.NothWindsBlazorApp.Pages.Products;


<div class="row">
    <div class="col-12 center-div">
        <h1>Welcome to Northwinds Super Cars !</h1>
    </div>
    <div class="col-12 center-div">
        <img src="images/Bugatti.PNG" width="75%" />
    </div>
    <div class="col-12 center-div">
        See my other dev related videos on <a href="https://www.youtube.com/user/hloni2010" target="_blank">My You Tube channel</a>,br
        These projects videos were created <b>FOR FUN</b> using the <a target="_blank" href="https://www.google.com/search?q=kinect+for+windows&sxsrf=ALeKk0004S8ALt-HO6D4nuYVobeyJz7U2Q:1598345630951&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjIoL68_bXrAhWCgVwKHTOyDagQ_AUoAnoECBIQBA&biw=1377&bih=991">Kinect for Windows</a>  <i>(a 3D camera with microphones)</i> and the Kinect SDK v1.8, and my phone.
        <div class="row">
            <div class="col-4">
                <a href="https://www.youtube.com/watch?v=Qef8gpsutAU&t=1s" target="_blank">
                    <MatIcon>videocam</MatIcon> <b>Memory Game :</b>
                </a>
                <p>Initially conceived for the popular game show <i>Friends Like These</i></p>
            </div>
            <div class="col-4">
                <a href="https://www.youtube.com/watch?v=xEd7o8hSS0k" target="_blank">
                    <MatIcon>videocam</MatIcon> <b>Live Wall :</b>
                </a>
                <p>for all kinds of gallaries</p>

            </div>
            <div class="col-4">
                <a href="https://www.youtube.com/watch?v=ke5zk3_IHcg" target="_blank">
                    <MatIcon>videocam</MatIcon> <b>Personal Assistant :</b>
                </a>
                <p>DIY assistant, initially created to ask a girl out, needless to say I got the girl :)</p>

            </div>
        </div>
    </div>
</div>

<style>
    div {
        margin-top: 10px;
        /*border: 1px solid black*/
    }
</style>






